name: CI

on: [push]

permissions:
  contents: read

jobs:
  workspace-ci:
    name: Workspace CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x, 24.x, latest]

    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - uses: ./.github/reusable-workflows/setup-repo
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check for a changelog entry
        if: ${{ github.ref != 'refs/heads/prepare-release' && github.actor != 'dependabot[bot]' }}
        run: |
          pnpm run changelog:status:ci

      - name: Run CI checks
        run: |
          pnpm run all:ci

      - name: Report test coverage to coveralls.io
        uses: coverallsapp/github-action@v2.3.6
        with:
          github-token: ${{ github.token }}

  package-ci:
    name: Package CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package-name: [skip-the-build, vite-adapter, webpack-adapter]

    steps:
      - uses: actions/checkout@v6.0.1

      - uses: ./.github/reusable-workflows/setup-repo
        with:
          node-version: nvmrc

      - name: Run CI checks for package
        run: |
          cd packages/${{ matrix.package-name }}
          pnpm run all:ci

# @TODO: Re-enable
#  demo-ci:
#    name: Demo CI
#    runs-on: ubuntu-latest
#    strategy:
#      matrix:
#        demo-name: [hello-world-cli, hello-world-ui]
#
#    steps:
#      - uses: actions/checkout@v6.0.1
#
#      - uses: ./.github/reusable-workflows/setup-repo
#        with:
#          node-version: lts/*
#          use-lockfile: false
#
#      - name: Run CI checks for demo
#        run: |
#          cd demos/${{ matrix.demo-name }}
#          pnpm run all:ci
